@using Microsoft.AspNetCore.Session
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="FPT Training">
    <meta name="author" content="IT0502 - BTec">
    <meta name="keyword" content="FPT Training">
    <title>FPT Training - @ViewData["title"]</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/training/assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/training/assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/training/assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/training/assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/training/assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/training/assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/training/assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/training/assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/training/assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/training/assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/training/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/training/assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/training/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/training/assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/training/assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="/training/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/training/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="/training/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="/training/css/examples.css" rel="stylesheet">
    @* <link href="/training/vendors/coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet"> *@
  </head>
  <body>
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
            <use xlink:href="/training/assets/brand/coreui.svg#full"></use>
        </svg>
        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
            <use xlink:href="/training/assets/brand/coreui.svg#signet"></use>
        </svg>
      </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Dashboard")">
                <svg class="nav-icon">
                  <use xlink:href="/training/vendors/coreui/icons/svg/free.svg#cil-speedometer"></use>
                </svg> Dashboard<span class="badge badge-sm bg-info ms-auto">NEW</span>
            </a>
        </li>
        <li class="nav-title">Management</li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Account")">
            <svg class="nav-icon">
                <use xlink:href="/training/vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg> Accounts
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Category")">
            <svg class="nav-icon">
              <use xlink:href="/training/vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
            </svg>Categories
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Courses")">
                <svg class="nav-icon">
                    <use xlink:href="/training/vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
                </svg>Courses
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Topic")">
                <svg class="nav-icon">
                    <use xlink:href="/training/vendors/coreui/icons/svg/free.svg#cil-pencil"></use>
                </svg>Topic
            </a>
        </li>
      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg">
              <use xlink:href="/training/vendors/coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
          </button><a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="/training/assets/brand/coreui.svg#full"></use>
            </svg></a>
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Hi : </a></li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    @HttpContextAccessor.HttpContext.Session.GetString("SessionEmail")
                </a>
            </li>
          </ul>
          <ul class="header-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-bell"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-list-rich"></use>
                </svg></a></li>
            <li class="nav-item"><a class="nav-link" href="#">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-envelope-open"></use>
                </svg></a></li>
          </ul>
          <ul class="header-nav ms-3">
            <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-md"><img class="avatar-img" src="/training/assets/img/avatars/8.jpg" alt="user@email.com"></div>
              </a>
              <div class="dropdown-menu dropdown-menu-end pt-0">
                <div class="dropdown-header bg-light py-2">
                  <div class="fw-semibold">Account</div>
                </div><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-bell"></use>
                  </svg> Updates<span class="badge badge-sm bg-info ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-envelope-open"></use>
                  </svg> Messages<span class="badge badge-sm bg-success ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-task"></use>
                  </svg> Tasks<span class="badge badge-sm bg-danger ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-comment-square"></use>
                  </svg> Comments<span class="badge badge-sm bg-warning ms-2">42</span></a>
                <div class="dropdown-header bg-light py-2">
                  <div class="fw-semibold">Settings</div>
                </div><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-user"></use>
                  </svg> Profile</a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-settings"></use>
                  </svg> Settings</a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-credit-card"></use>
                  </svg> Payments<span class="badge badge-sm bg-secondary ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-file"></use>
                  </svg> Projects<span class="badge badge-sm bg-primary ms-2">42</span></a>
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">
                    <svg class="icon me-2">
                        <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-lock-locked"></use>
                    </svg> Lock Account
                   </a>
                   @using(Html.BeginForm("Logout", "Login", FormMethod.Post))
                   {
                      <button class="dropdown-item" type="submit">
                          <svg class="icon me-2">
                            <use xlink:href="/training/vendors/coreui/icons/svg/free.svg#cil-account-logout"></use>
                          </svg> Logout
                      </button>
                   }

              </div>
            </li>
          </ul>
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
              <li class="breadcrumb-item">
                <span>@ViewData["breadcrumb"]</span>
              </li>
              <li class="breadcrumb-item active">
                <span>@ViewData["breadcrumb_active"]</span>
              </li>
            </ol>
          </nav>
        </div>
      </header>
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            @RenderBody()
        </div>
      </div>
      <footer class="footer">
        <div>
            <a href="https://btec.fpt.edu.vn/">FPT Training </a>
            <a href="https://btec.fpt.edu.vn/">BTec FPTPolytechnic</a> © 2024 creativeLabs.
        </div>
        <div class="ms-auto">
            Powered by&nbsp;
            <a href="https://btec.fpt.edu.vn/">IT0502</a>
        </div>
      </footer>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="/training/vendors/coreui/coreui/js/coreui.bundle.min.js"></script>
    <script src="/training/vendors/simplebar/js/simplebar.min.js"></script>
    <!-- Plugins and scripts required by this view-->
@*     <script src="/training/vendors/chart.js/js/chart.min.js"></script>
    <script src="/training/vendors/coreui/chartjs/js/coreui-chartjs.js"></script> *@
    <script src="/training/vendors/coreui/utils/js/coreui-utils.js"></script>
    @* <script src="/training/js/main.js"></script> *@

    <script src="/js/jquery-3.7.1.min.js"></script>
    @await RenderSectionAsync("javascripts", required: false)

  </body>
</html>